*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    
    color: #FFFFFF;
}
.conteiner{
    width: 100%;
    max-width: 1152px;
    padding: 46px 21px 44px;
    background: #F7D5D5;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;  
    display: grid;
    gap: 24px;
    position: static;
    grid-template-columns: repeat(3,354px);
    grid-template-rows: 182px 158px;  
}
.graph {
    background: #755cde;
    grid-row: 1 / 3;
    border-radius: 8px;
}
.graph img{
    position: absolute;
    width: 128px;
    height: 192px;
    left: 202px;
    top: 24px;    
}
.ui-ux-apps {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
}
.ui-ux-apps img{
    position: absolute;
    width: 64.39px;
    height: 64px;
    left: 76.38px;
    top: 24px;    
}
.ui{
    background: #F6A560;
    border-radius: 8px;
}
.apps{
    background: #F39E9E;
    border-radius: 8px;
}
.photo{
    background: #61C4B7;
    border-radius: 8px;
}
.photo img{
    position: absolute;
    width: 160px;
    height: 64px;
    left: 170px;
    top: 24px;
}
.illus{
    background: #EB7565;
    border-radius: 8px;
}
.illus img{
    position: absolute;
    width: 128px;
    height: 64px;
    left: 200.91px;
    top: 24px;    
}
.motion{
    background: #552049;
    border-radius: 8px;
}
.motion img{
    position: absolute;
    width: 128px;
    height: 64px;
    left: 202px;
    top: 24px;    
}
div{
    position: relative;
}
.h1{
    position: absolute;
    height: 30px;
    left: 6.78%;
    right: 33.9%;
    top: calc(50% - 30px/2 + 143px);
}
.h2{
    position: absolute;
    height: 30px;
    left: 14.49%;
    right: 35.58%;
    top: calc(50% - 30px/2 + 52px);
}
.h3{
    position: absolute;
    height: 30px;
    left: 14.49%;
    right: 41.13%;
    top: calc(50% - 30px/2 + 52px);
}
.h4{
    position: absolute;
    height: 30px;
    left: 6.74%;
    right: 41.83%;
    top: calc(50% - 30px/2 + 52px);
}
.h5{
    position: absolute;
    height: 30px;
    left: 6.88%;
    right: 47.43%;
    top: calc(50% - 30px/2 + 40px);
}
.h6{
    position: absolute;
    height: 30px;
    left: 6.78%;
    right: 29.1%;
    top: calc(50% - 30px/2 + 40px);
}